body {
  background-color: #5c5470 !important;
  display: flex;
  font-family: "Fira Code", monospace;
  font-weight: 100 !important;
  color: #faf0e6 !important;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}
/* Adjust the margin for your main content */
.content {
  flex-grow: 1;
  color: #faf0e6;
  text-align: center;
  margin-left: 240px; /* Match the width of the sidebar */
  width: calc(100vw - 240px);
}
.container {
  margin-left: 0;
}
h2 {
  font-size: x-large;
}
.sidebar {
  background-color: #352f44 !important;
  color: #faf0e6;
  width: 240px;
  min-height: 100vh;
  position: fixed;
}
.sidebar-info {
  color: #faf0e6 !important;
  font-family: Fira Code, monospace;
  text-align: center !important;
}
.sidebar-text {
  color: #faf0e6 !important;
  font-family: Fira Code, monospace;
  text-align: left !important;
}
.profilepic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 100% 0;
  text-align: center;
}
.paragraph-text {
  color: #faf0e6 !important;
  font-family: Fira Code, monospace;
  text-align: left !important;
}
.link-text {
  color: #faf0e6 !important;
  font-family: Fira Code, monospace;
  text-align: left !important;
  display: inline;
}
.sidebar li {
  font-weight: 100;
}
.nav-link {
  color: #faf0e6 !important;
}
.nav-link:hover {
  color: #b9b4c7 !important;
}
.nav-item {
  color: #b9b4c7;
}

.hero {
  flex-grow: 1; /* Allow the hero section to grow and take remaining space */
  background: rgb(53, 47, 68);
  background: linear-gradient(
    90deg,
    rgba(53, 47, 68, 1) 0%,
    rgba(92, 84, 112, 1) 35%,
    rgba(185, 180, 199, 1) 100%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Optional for centering text within the box */
}
.heading {
  color: #faf0e6 !important;
  font-weight: 500 !important;
}
.job-list {
  margin-left: auto;
  display: inline-block;
  font-family: Fira Code, monospace;
  text-align: left !important;
}
.job-list > li {
  margin-bottom: 3%;
}

.hero2 {
  background: #352f44 !important;
}
.contact-button {
  border-color: #faf0e6;
  color: #faf0e6;
}

.contact-button:hover {
  border-color: #faf0e6;
  color: #faf0e6;
}
.copyright-small {
  display: none;
}
.email-small {
  display: none;
}
@media (min-width: 992px) {
  .content {
    height: 100vh;
  }
}
@media (max-width: 991px) {
  .content {
    flex-grow: 1;
    color: #faf0e6;
    text-align: center;
    margin-left: 100px; /* Match the width of the sidebar */
    width: calc(100vw - 100px);
  }
  .profilepic {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: 100% 0;
    text-align: center;
  }
  .sidebar {
    background-color: #352f44 !important;
    color: #faf0e6;
    width: 100px;
    min-height: 100vh;
    position: fixed;
  }
  .email-big {
    display: none;
  }
  .email-small {
    font-size: medium;
    display: block;
  }
  .sidebar-info {
    color: #faf0e6 !important;
    font-family: Fira Code, monospace;
    text-align: center !important;
    font-size: medium;
  }
  .sidebar-item.nav-link {
    color: #faf0e6 !important;
    font-size: small;
    padding: 0;
  }
  .copyright-big {
    display: none;
  }
  .copyright-small {
    font-size: medium;
    display: block;
  }
}
